*.komodoproject
*.iml
.vscode
.brackets.json
.DS_Store
.idea
.settings
.buildpath
.project

application/logs/*.php
application/archives/*.bak
application/modules/test/

public/assets/cache/*
!public/assets/cache/index.html
public/assets/cache/ih/*
!public/assets/cache/ih/
public/.htaccess
public/avatars/*
!public/avatars/index.html
