
.attachment {
	position: relative;
	padding: 5px 5px;
}

.attachment.input {
	background: white;
	width: 100%;
	border: 1px solid #999;
}

.attachment.inline {
	display: inline-block;
	width: auto;
}

.attachment span > i {
	position: relative;
	top: 3px;
	padding-right: 5px;
	font-size: 20px;
}

.attachment .filename {
	font-size: 15px;
}

.attachment .single-attachment {
	width: 100%;
	padding: 0 5px;
	overflow: hidden;
}

.attachment .single-attachment a {
	line-height: 0;
}

.btn-add-attachment {
	text-indent: 0;
	border: 0 none;
	line-height: inherit;
	-webkit-user-select: auto;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 100%;
	border-bottom: 2px solid #f2f2f2;
	padding: 6px;
	position: relative;
	margin-bottom: 5px;
	font-size: 13px;
	font-family: "Montserrat", sans-serif;
}

.attachment .icon img {
	width: 16px;
	height: 16px;
	margin: 2px;
}

.attachment .remove-attachment {
	font-size: 10px;
	line-height: 22px;
	cursor: pointer;
}

.attachment .remove-attachment:hover {
	color: #eb547c;
}

.attachment .title-editable {
	width: 500px;
}