.breadcrumb a {
	color: #337ab7;
}

.btn-block .an-btn {
	margin-right: 10px;
}

.btn-block {
	margin-bottom: 30px;
}

.step-detail {
	line-height: 30px;
}

.user-single i {
	margin-left: 15px;
}

.user-single .name {
	margin-left: 20px;
}

.user-single {
	margin-bottom: 10px;
}

.user-single:last-child {
	margin-bottom: 0;
}

.step-monitor .topbar {
	align-items: flex-start;
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.step-monitor .homework .status .btn-group {
	margin: 0;
}

.topbar h2 {
	margin-top: 0;
}

#step-joiner {
	position: relative;
	min-height: 30px;
	margin: 0 15px 10px 15px;
}

#step-joiner .avatar {
	margin-left: 0;
}

#step-joiner .ui-effects-placeholder {
	display: none !important;
}

#step-joiner .avatar {
	width: 30px;
	height: 30px;
}

.step-time-schedule .an-btn-danger-transparent:hover,
.step-time-schedule .an-btn-danger-transparent:focus,
.step-time-schedule .an-btn-danger-transparent:active {
	background-color: initial;
	color: #eb547c;
}

.form-td {
	display: inline-block;
	width: 150px !important;
	text-align: center;
	margin-bottom: 0 !important;
}

.table-agenda td {
	vertical-align: middle;
}

.time-assigned {
	cursor: pointer;
}

.btn-finish {
	border: 1px solid #30907f !important;
};

#scheduled-time {
	border-right: none !important;
}

.step-action {
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: middle;
}

.form-inline .input-group > .form-control.schedule-time {
	width: auto;
}

.step-action > button {
	height: 36px;
}

#scheduled-timer {
	margin-top: 0;
	margin-right: 20px;
}

.table-agenda tr {
	min-height: 52px;
}

.agenda-status, .agenda-action {
	white-space: nowrap;
}

.step-goal-container {
	position: relative;
}

.attendee {
	display: table;
	width: 100%;
}

.attendee > div {
	float: left;
}

.attendee .info {
	margin: 5px;
}

.attendee > .rating {
	float: right;
}

/****** Style Star Rating Widget *****/
.rating {
	float:left;
	display: table-cell;
}

.rating > input {
	display: none;
}

.rating > label:before {
	margin-top: 0px;
	padding:0px 0px 0px 0px;
	font-size: 1.25em;
	font-family: 'Ionicons';
	display: inline-block;
	content: "\f4b3";
}

.rating > .half:before { 
	content: "\f4b1";
	position: absolute;
}

.attendee > .rating {
	float: right;
}

.rating > label {
	float: right;
	margin: 0px 1px 0px 0px;
	color:#D8D8D8;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
	color:#FFD700 !important;
	cursor:pointer;
}/* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
	color:#FFED85 !important;
	cursor:pointer;
}

.decider-step-container .an-component-header + .an-component-body{
	max-height: 150px;
	overflow: auto;
}

.an-helper-block .confirmation-status {
	margin-bottom: 0;
}

#note {
	width: 80%;
	margin-right: 30px;
	margin-bottom: 0;
}

.btn-close-out-step {
	vertical-align: bottom;
	margin-bottom: 6px;
}

.form-step-decider {
	max-height: 800px;
	overflow: auto;
}

.table-step-time {
	margin-bottom: 0;
}

.goal, .step-notes, .notes-container {
	overflow: hidden;
}

.step-goal-container, .step-notes-container {
	position: relative;
}