.breadcrumb a {
	color: #337ab7;
}

.btn-block .an-btn {
	margin-right: 10px;
}

.btn-block {
	margin-bottom: 30px;
}

.meeting-detail {
	line-height: 30px;
}

.user-single i {
	margin-left: 15px;
}

.user-single .name {
	margin-left: 20px;
}

.user-single {
	margin-bottom: 10px;
}

.user-single:last-child {
	margin-bottom: 0;
}

.meeting-monitor .topbar {
	align-items: flex-start;
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.meeting-monitor .homework .status .btn-group {
	margin: 0;
}

.topbar h2 {
	margin-top: 0;
}

#meeting-joiner {
	position: relative;
	height: 45px;
	margin: 0 15px 10px 15px;
}

#meeting-joiner .ui-effects-placeholder {
	display: none !important;
}

#meeting-joiner .avatar-container {
	position: relative;
	float: left;
	margin: 0 10px 0 0;
}

#meeting-joiner .avatar {
	width: 45px;
	height: 45px;
	margin: 0;
	opacity: 0.7;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%) blur(0.5px); /* Safari 6.0 - 9.0 */
	transition: all 0.3s ease-out;
}

#meeting-joiner .avatar.active {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
	opacity: 1;
	animation: poppy 0.3s 1 ease-out;
}

#meeting-joiner .indicator-homework {
	position: absolute;
	bottom: -4px;
	right: -4px;
	background: #ffbc00;
	width: 17px;
	height: 17px;
	border: 1.5px solid white;
	border-radius: 50%;
	transition: all 0.3s ease-out;
	text-align: center;
	font-size: 10px;
	color: #fff;
}

#meeting-joiner .indicator-homework.finished {
	background: #00e200;
	animation: poppy 0.3s 1 ease-out;
}

@keyframes poppy {
	0% {
		transform: scale(1, 1);
	}
	40% {
		transform: scale(1.2, 1.2);
		filter: blur(2px)
	}
	100% {
		transform: scale(1, 1);
		filter: blur(0px)
	}
}

@-webkit-keyframes poppy {
	0% {
		transform: scale(1, 1);
	}
	40% {
		transform: scale(1.2, 1.2);
		filter: blur(2px)
	}
	100% {
		transform: scale(1, 1);
		filter: blur(0px)
	}
}

.meeting-time-schedule .an-btn-danger-transparent:hover,
.meeting-time-schedule .an-btn-danger-transparent:focus,
.meeting-time-schedule .an-btn-danger-transparent:active {
	background-color: initial;
	color: #eb547c;
}

.form-td {
	display: inline-block;
	width: 150px !important;
	text-align: center;
	margin-bottom: 0 !important;
}

.table-agenda td {
	vertical-align: middle;
}

.time-assigned {
	cursor: pointer;
}

.btn-finish {
	border: 1px solid #30907f !important;
};

#scheduled-time {
	border-right: none !important;
}

.meeting-action {
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: middle;
}

.form-inline .input-group > .form-control.schedule-time {
	width: auto;
}

.meeting-action > button {
	height: 36px;
}

#scheduled-timer {
	margin-top: 0;
	margin-right: 20px;
}

.table-agenda tr {
	min-height: 52px;
}

.agenda-status, .agenda-action {
	white-space: nowrap;
}

.meeting-goal-container {
	position: relative;
}

.attendee {
	display: table;
	width: 100%;
}

.attendee > div {
	float: left;
}

.attendee .info {
	margin: 5px;
}

.attendee > .rating {
	float: right;
}

/****** Style Star Rating Widget *****/
.rating {
	float:left;
	display: table-cell;
}

.rating > input {
	display: none;
}

.rating > label:before {
	margin-top: 0px;
	padding:0px 0px 0px 0px;
	font-size: 1.25em;
	font-family: 'Ionicons';
	display: inline-block;
	content: "\f4b3";
}

.rating > .half:before { 
	content: "\f4b1";
	position: absolute;
}

.attendee > .rating {
	float: right;
}

.rating > label {
	float: right;
	margin: 0px 1px 0px 0px;
	color:#D8D8D8;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
	color:#FFD700 !important;
	cursor:pointer;
}/* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
	color:#FFED85 !important;
	cursor:pointer;
}

.an-helper-block .confirmation-status {
	margin-bottom: 0;
}

#note {
	width: 100%;
	margin-bottom: 10px;
}

.form-meeting-decider {
	max-height: 800px;
	overflow: auto;
}

.table-meeting-time {
	margin-bottom: 0;
}

.goal, .meeting-notes, .notes-container {
	overflow: hidden;
}

.meeting-goal-container, .meeting-notes-container {
	position: relative;
}

.meeting-rating > input {
	display: none;
}

.meeting-rating > label:before {
	margin-top: 0px;
	padding:0px 0px 0px 0px;
	font-size: 1.25em;
	font-family: 'Ionicons';
	display: inline-block;
	content: "\f4b3";
}

.meeting-rating > .half:before { 
	content: "\f4b1";
	position: absolute;
}


.meeting-rating > label {
	float: right;
	margin: 0px 1px 0px 0px;
	color:#D8D8D8;
	line-height: 100%;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.meeting-rating > input:checked ~ label,
.meeting-rating:not(:checked) > label:hover, /* hover current star */
.meeting-rating:not(:checked) > label:hover ~ label {
	color:#FFD700 !important;
	cursor:pointer;
}/* hover previous stars in list */

.meeting-rating > input:checked + label:hover, /* hover current star when changing rating */
.meeting-rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.meeting-rating > input:checked ~ label:hover ~ label {
	color:#FFED85 !important;
	cursor:pointer;
}

/* Meeting sidebar comment */
.comment-header {
	width: 100%;
	padding: 15px;
	background: #D8D8D8;
	border-bottom: 1px solid #e5e5e5;
}

#comment .chat-container {
	padding: 0;
}

#comment .chat-container .an-chat-form {
	margin-left: 0;
	margin-right: 0;
}

#comment .chat-container .list-user-single {
	padding: 8px;
}

#comment {
	transition: top 100ms ease-out;
}

#comment .list-user-single {
	background: transparent;
	transition: background 500ms ease-out;
}

#comment .list-user-single.unread {
	background: #fffdec;
}

#comment .avatar {
	margin-left: 0;
}

#comment .badge-comment {
	cursor: pointer;
}

#meeting-resource .decision {
	padding-top: 3px;
	display: inline-block;
}

#agenda-list tbody tr,
#homework-list tbody tr {
	cursor: pointer;
}

#agenda-list tbody tr .close-btn:hover,
#homework-list tbody tr .close-btn:hover {
	color: #eb547c;
}