.an-form-firstname {
    float: left;
    width: 50% !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none !important;
}

.an-form-lastname {
    float: left;
    width: 50% !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding-left: 15px !important;
}

.an-avatar {
    position: relative;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    background: rgba(220, 201, 175, 0.2);
    border: 1px solid #dadada;
    border-radius: 50%;
    overflow: hidden;
}

.an-form-avatar-label {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.an-form-avatar {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
}

.an-form-avatar-preview {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.an-form-avatar-dim {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 40px;
    background: rgba(51, 51, 51, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-out;
    border-radius: 50%;
}

.an-avatar:hover .an-form-avatar-dim {
    opacity: 1;
}

.an-form-avatar-dim span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-page {
    background: -moz-linear-gradient(top, rgba(247, 253, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(247, 253, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(247, 253, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7fdff', endColorstr='#00ffffff', GradientType=0);
}

.login-page .an-component-header {
    background: white;
}

.logo-login {
    width: 120px;
    margin: 15px 0;
}

.an-component-header {
    align-items: flex-end;
    padding: 0 15px;
}

.an-component-body.addon {
    border-bottom: 1px solid #ededed;
}

.an-login-container .remembered-section {
    margin-top: 20px;
}

label .required {
    color: red;
}

.mb-form {
    font-size: 12px;
}

.mb-form .an-btn {
    height: 36px;
}

.sign-up-link {
    margin-bottom: 10px !important;
    font-size: 12px;
}

.mb-form .an-form-control {
    border-color: #EFEFEF;
}

.mb-form .an-form-control.danger {
    border-color: #EFEFEF;
    border: 1px solid rgba(235, 84, 124, 0.2)
}

.mb-form .an-form-control::placeholder {
    color: #ABABAB;
}

.mb-form label {
    font-weight: normal;
    font-size: 12px;
}

.mb-link {
    color: #38899E;
}

.mb-form .an-btn {
    font-size: 13px;
}

.mb-uppercase {
    text-transform: uppercase;
}

.an-btn-google {
    position: relative;
    background: #D74035;
    border: 1px solid #D74035;
    color: #ffffff;
}

.an-btn-google.block-icon i {
    font-size: 14px;
}

.an-btn-google:hover {
    background: #C74035;
    color: #ffffff;
}

.mb-rainbow {
    width: 100%;
    height: 10px;
    top: 0;
}

.mb-rainbow>div {
    float: left;
    width: 20%;
    height: 100%;
}

.mb-rainbow .dark-blue {
    background: #257AA0;
}

.mb-rainbow .nearly-green {
    background: #71BFB7;
}

.mb-rainbow .leaf-green {
    background: #C2D8C9;
}

.mb-rainbow .almost-yellow {
    background: #F4FFBB;
}

.mb-rainbow .mostly-pink {
    background: #E9557F;
}

.an-footer {
    background: transparent;
}


/* Leave 6vh for the footer */

.an-page-content {
    min-height: 94vh;
}

body {
    background: url('./images/mb-bg.png');
}


/* Notifications are shown by $.notify plugin */

#notify {
    display: none;
}