.db-h1 {
	color: #025d83;
	margin-bottom: 20px;
}

.db-h1 > span {
	border-bottom: 1px solid #025d83;
	padding-bottom: 10px;
	display: table;
	padding-right: 10%;
}

.project-list > .item {
	border-bottom: 1px solid #aaa;
}

.project-list > .item .general-info h3 {
	text-transform: capitalize;
}

.project-list > .item .general-info .project-info {
	padding-left: 15px;
	padding-bottom: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.project-list > .item .general-info .project-info > div {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.project-list > .item .general-info .project-info > div > * {
	display: inline-block;
	vertical-align: middle;
	line-height: 100%;
	margin-bottom: 0;
}

.project-list > .item .owners {
	padding-left: 65px;
}

.project-list > .item .owners > .item {
	padding-bottom: 15px;
}

.project-list > .item .owners > .item .owner-info {
	position: relative;
}

.project-list > .item .owners > .item .owner-info::before {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	width: 15px;
	border-bottom: 2px solid #025d83;
	left: -20px;
	top: -9px;
}

.project-list > .item .owners > .item {
	position: relative;
}

.project-list > .item .owners > .item::after {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	width: 1px;
	border-left: 2px solid #025d83;
	left: -20px;
	top: -10px;
}

.project-list > .item .owners > .item:last-child::after {
	height: 25px;
}

.project-list > .item .owners > .item .steps {
	padding-top: 10px;
	padding-bottom: 10px;
}

.project-list > .item .owners > .item .steps > .item {
	padding-left: 30px;
	padding-bottom: 5px;
}

@media only screen and (min-width: 768px) {
	.an-page-content > .an-content-body > .row > div.col-xs-12 {
		border-left: 1px solid #aaa;
		border-right: 1px solid #aaa;
	}

	.an-page-content > .an-content-body > .row > div.col-xs-12:first-child {
		border-left: none;
		margin-right: -1px;
	}

	#mb-my-projects {
		border-right: none;
	}

	#mb-calendar {
		border-left: none;
	}
}

@media (max-width: 992px) {
	.an-content-body {
		padding-right: 30px;
	}
}


.my-todo > .todo-list > .item {
	padding-bottom: 10px;
	padding-top: 10px;
	overflow: hidden;
	border-bottom: 1px solid #aaa;
}

.my-todo > .todo-list > .item:last-child {
	border: none;
}

.my-todo > .todo-list > .item .todo-left {
	overflow: hidden;
	float: left;
	line-height: 20px;
	padding-top: 10px;
}

.my-todo > .todo-list > .item .todo-right {
	overflow: hidden;
	float: right;
	padding-top: 5px;
}

.my-todo > .todo-list > .item .todo-right select.an-form-control{
	margin-bottom: 0;
	height: 30px;
	display: inline-block;
	width: auto;
}

.my-todo > .todo-list > .item .todo-right .detail {
	width: 70%;
	text-align: center;
	float: left;
}

.my-todo > .todo-list > .item .todo-right .detail i {
	font-size: 2.25em;
	line-height: 100%;
}

.my-todo > .todo-list > .item .todo-right .action {
	border-radius: 2px;
	display: inline-block;
	padding: 0 5px;
	margin-left: 5px;
}

.my-todo > .todo-list > .item .todo-right .action i {
	font-size: 1.25em
}

/****** Style Star Rating Widget *****/
#rate-content .todo-rating-wrapper {
	overflow: hidden;
	display: inline-table;
}

.todo-rating > input {
	display: none;
}

.todo-rating > label:before {
	margin-top: 0px;
	padding:0px 0px 0px 0px;
	font-size: 1.25em;
	font-family: 'Ionicons';
	display: inline-block;
	content: "\f4b3";
}

.todo-rating > .half:before { 
	content: "\f4b1";
	position: absolute;
}


.todo-rating > label {
	float: right;
	margin: 0px 1px 0px 0px;
	color:#D8D8D8;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.todo-rating > input:checked ~ label,
.todo-rating:not(:checked) > label:hover, /* hover current star */
.todo-rating:not(:checked) > label:hover ~ label {
	color:#FFD700 !important;
	cursor:pointer;
}/* hover previous stars in list */

.todo-rating > input:checked + label:hover, /* hover current star when changing rating */
.todo-rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.todo-rating > input:checked ~ label:hover ~ label {
	color:#FFED85 !important;
	cursor:pointer;
}

.fc-day-grid-event:focus {
	color: white;
}

#homework-info-modal .user-avatar {
	margin-right: 5px;
}

.fc button {
	padding: 0 0.4em;
}

.fc button .fc-icon {
	margin: 0;
}

.homework-info {
	cursor: pointer;
}

/* New Dashboard */
.main-container {
	display: flex;
}

.an-header {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.an-page-content {
	flex-direction: column;
}

.an-content-body {
	padding: 20px;
	padding-bottom: 58px;
}

.an-footer {
	position: absolute;
	width: 100%;
	height: 38px;
	bottom: 0;
}

.an-sidebar-nav {
	min-width: 300px;
	transition: width 0.3s ease-out;
	background-color: #ffffff;
	box-shadow: #AAA 0 0 10px;
	z-index: 5;
	display: flex;
	flex-flow: column;
	padding: 20px 0 0 0;
}


.an-sidebar-logo {
	margin: 0 0px 20px 15px;
}

.an-nav-item > a , .an-nav-item .an-child-nav > li > a {
	color: #004f71;
}

.an-nav-item > a:hover, .an-nav-item .an-child-nav > li > a:hover {
	color: #00415d;
}

.an-nav-item > a > i {
	top: 6px;
}

.an-nav-item>a.nav-open {
	background: #004f71;
}

.an-nav-item > a.nav-open:hover {
	color: white;
}

span.count {
	position: absolute;
	top: 7px;
	text-align: center;
	right: 14px;
	width: 27px;
	height: 27px;
	line-height: 27px;
	background-color: #70c1b3;
	font-size: 12px;
	color: #ffffff;
	border-radius: 50%;
}

.an-nav-item:first-child {
	border-top: 1px solid #efefef;
}

.an-nav-item {
	position: relative;
	font-size: 15px;
	border-bottom: 1px solid #efefef;
}

.an-child-nav > li {
	border-bottom: 1px solid #efefef;
	margin-left: 20px;
}

.an-child-nav > li:last-child {
	border-bottom: none;
}

.an-nav-item .an-child-nav > li > a {
	padding: 10px 10px 10px 25px;
}

.an-child-nav > li > .popover {
	min-width: 800px;
	max-width: none;
}

.mb-popover-content .table {
	margin-bottom: 0;
}

.mb-popover-content .table > thead > tr > th {
	border-bottom: none;
	color: #aaa;
	font-size: 12px;
}

.mb-popover-content tr.parent > td {
	background: #f3f3f3;
	font-weight: bold;
}

.mb-popover-content tr.child-head > th {
	font-size: 12px;
	color: #aaa;
}

.mb-popover-content tr.child:nth-child(3) > td {
	border-top: none;
}
.mb-popover-content tr.child > td {
	padding: 0px 5px;
}
.mb-popover-content tr.child > td:first-child {
	border-top: none;
}

.attachment {
	padding: 0 !important;
}

.attachment a {
	display: inline-block !important;
	padding: 3px !important;
}

.btn-confirm {
	font-size: 30px;
	color: #70c1b3;
	cursor: pointer;
	line-height: 1;
}

.btn-confirm:hover {
	color: #6ab3a6;
}

.an-child-nav > li > .popover > .popover-content {
	padding: 2px 0 0;
}

.an-child-nav > li > .popover .mb-popover-content {
	padding: 2px 0;
	max-height: 800px;
	overflow: auto;
}

.an-child-nav > li > .popover > .popover-title {
	font-size: 22px;
}

.project-header {
	padding: 10px;
	background: #f7f7f7;
}

.project-header h4 {
	margin: 0 0 5px;

}

.project-body {
	padding: 10px;
}

#overview-body .number-container {
	font-size: 17px;
	text-align: center;
}

#overview-body .number-container .number {
	font-size: 22px;
}

.btn-time {
	border: none;
	padding: 0;
}

.edit-title {
	width: 500px !important;
	font-size: 18px;
}

#calendar .fc-ggcToggle-button {
	color: white;
	background: #999;
}

#calendar .fc-mbcToggle-button {
	color: white;
	background: #70c1b3;
}

#calendar .fc-ggcToggle-button.fc-state-active {
	background: #6c6767;
}

#calendar .fc-mbcToggle-button.fc-state-active {
	background: #3fb4a0;
}

.mb-popover-content .an-user-lists .an-lists-body {
	max-height: none;
}

.child .user-wrapper {
	padding: 10px 0;
}

/* Init modal */
#init .modal-content {
	background: transparent;
}

.init {
	transition: filter 0.5s ease-out;
}

.init .calendar {
	position: relative;
	float: left;
	width: 65%;
}

.init .summary {
	position: relative;
	float: left;
	width: calc(35% - 20px);
	margin-left: 20px;
}

.init-nav {
	display: flex;
	align-items: center;
	padding: 0 30px;
	height: 70px;
	background: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid #e0e0e0;
}

.init-nav * {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.init-nav > h4 > i {
	font-size: 33px;
	vertical-align: text-top;
	line-height: 28px;
	margin-right: 10px;
}

.init-nav > .step {
	display: flex;
	font-size: 16px;
	flex: 1;
	color: #bdbdbd;
}

.init-nav > .step.my-meeting {
	flex: 1.3;
}

.init-nav > .step:last-child {
	flex: 0;
}

.init-nav > .step > .transitor {
	background: #76d2c1;
	height: 2px;
	flex: 0;
	align-self: center;
}

.init-nav > .step.passed {
	color: #76d2c1;
}

.init-nav > .step.passed > .transitor {
	flex: 1;
}

.init-nav > .step.passed + .step:not(.passed) {
	color: #2795c3;
	font-size: 20px;
}

.init-nav > .step .sub-step {
	margin: 0;
	display: flex;
	justify-content: center;
}

.init-nav > .step.passed + .step.my-meeting .sub-step .dot:first-child {
	background: #2795c3;
}

.init-nav > .step.passed .sub-step > .dot {
	height: 0px;
	background: transparent;
}

.init-nav > .step .sub-step > .dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #d0d0d0;
	margin-left: 6px;
}

.init-nav > .title {
	margin: 0;
}

.init-nav > .step.passed + .step.my-meeting .sub-step .dot.passed{
	background: #76d2c1;
}

.init-nav > .step .sub-step > .dot.passed + .dot:not(.passed) {
	background: #2795c3;
}

.init-body {
	display: flex;
	flex-flow: row nowrap;
	position: relative;
}

.init-body > div {
	background: white;
}

.calendar-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background: #f9f9f9;
}

.calendar-info > .wrapper:nth-child(2) {
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

.calendar-info > .wrapper {
	padding: 15px;
	flex: 1;
	font-size: 12px;
}

.calendar-info > .wrapper > .title {
	margin-top: 0;
	color: #afafaf;
	text-transform: uppercase;
}

.calendar-info .user .avatar {
	margin-left: 0;
}

.calendar-info .user .name {
	font-size: 15px;
}

.calendar-info .group-range {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	margin-bottom: 10px;
}

.calendar-info .event-range {
	float: left;
	width: 56px;
	padding: 5px;
	font-size: 15px;
	margin: 0;
}

.calendar-info .btn-reload-calendar {
	height: 34px;
	padding: 2px 11px;
	font-size: 22px;
	margin-left: 5px;
	margin-bottom: 10px;
}

.calendar-info .fc-button-group {
	margin-right: 8px;
	margin-bottom: 8px;
}

.calendar-info .fc-button-group:last-child {
	margin-right: 0;
}

.calendar-info .fc-toolbar {
	text-align: center;
	margin-bottom: 0;
}

.calendar-info .fc-button {
	padding: 4px 6px;
	margin-left: -5px;
}

.calendar-info .fc-button-top {
	margin-bottom: 8px;
}

.calendar-init-wrapper {
	position: relative;
}

#calendar-init-title {
	margin: 0;
	text-align: center;
}

#calendar-init {
	transition: filter 0.5s ease-out;
}

.calendar-init-wrapper .loading-indicator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: 0.5s ease-out;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 8px 15px;
	color: white;
	transition: opacity 0.5s ease-out;
	z-index: 2;
}

.calendar-init-wrapper.loading .loading-indicator {
	display: block;
	opacity: 1;
}

.calendar-init-wrapper.loading #calendar-init {
	filter: blur(10px);
}

.calendar-wrapper {
	transition: blur 0.5s ease-out;
}
.calendar-wrapper.blur {
	filter: blur(10px);
}

.bubba-tea {
	position: absolute;
	width: 0;
	height: 0;
	left: -20px;
	border-right: 20px solid white;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}

.init .content {
	padding: 20px;
}

.init .content p {
	margin: 0 0 6px;
}

.init .section {
	width: 100%;
	border-bottom: 1px solid #a0b9c3;
	color: #2795c3;
}

.init .section.no-margin-top {
	margin-top: 0;
}

.init .an-small-doc-block .section {
	margin-top: 0;
}

.init .content > .title {
	margin-top: 0;
}

.summary .content p .number {
	font-size: 18px;
	color: #2795c3;
}

.overview-table {
	font-size: 13px;
	overflow: hidden;
}

.overview-table .number {
	font-size: 15px;
}

.overview-table .vertical-align {
	display: flex;
	flex-direction: row;
}

.overview-table .vertical-align > [class^="col-"],
.overview-table .vertical-align > [class*=" col-"] {
	display: flex;
	align-items: flex-end;
	justify-content: center; 
}

.overview-table hr {
	margin: 4px 0;
}

.overview-table .btn-convert-time {
	padding: 0 2px;
	font-size: 12px;
}

.overview-table .row.bold {
	font-weight: bold;
}

.overview-table .row > div:not(:first-child) {
	text-align: center;
}

.overview-table .vertical-align > div:first-child {
	justify-content: flex-start;
}

.overview-table .row:nth-child(even) > div {
    background: #f9f9f9;
}

.overview-table .time-wrapper {
	min-width: 100px;
}

.init-footer {
	display: table;
	padding: 12px 20px;
	height: 60px;
	background: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid #e0e0e0;
}

.btn-skip-init {
	display: table-cell;
	vertical-align: middle;
}

/* Step Two */
.init.blur {
	filter: blur(2px) brightness(90%);
	transition: filter 0.5s ease-out;
}

.step-20 {
	max-height: 0;
	opacity: 0;
	position: absolute;
	top: -9999px;
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity 0.3s ease-out;
}

.step-20.in {
	max-height: none;
	top: 0;
	opacity: 1;
}

.step-20 .block {
	display: inline-block;
	vertical-align: top;
	background: white;
	border-radius: 10px;
	font-size: 17px;
}

.step-20 > .block-wrapper {
	text-align: center;
	margin: 20px;
}

.step-20 .block > .content {
	padding: 8px;
	max-width: 426px;
	text-align: left;
}

.step-20 .path {
	margin: 0 20px;
	min-height: 500px;
	border: 1px solid #e0e0e0;
}

.step-20 .choose-your-path {
	overflow: hidden;
}

.step-20 .choose-your-path .title {
	margin: 0;
	padding: 8px;
	background: #2795c3;
	color: white;
}

.step-20 .choose-your-path > p {
	padding: 8px 20px;
	margin: 0;
}

.step-20 .path .title {
	margin: 10px 0 15px;
}

.step-20 .title > i {
	font-size: 35px;
	vertical-align: middle;
}


.step-20 .path p {
	text-transform: uppercase;
}

.step-20 .center {
	text-align: center;
}

.step-20 .path .subtitle {
	font-size: 15px;
	text-transform: none;
}

.step-20 .an-btn {
	text-transform: uppercase;
}

.step-20 .thumbnail {
	margin-bottom: 10px;
}

.step-20 .emoji {
	width: 32px;
}

/* Step three */
.step-30 > div {
	display: none;
}

.step-30 .instruction {
	position: relative;
	padding-left: 25px;
	padding-bottom: 0;
	background: rgba(2, 93, 131, 0.1);
	transition: all .5s ease-out;
}

.step-30 .instruction::before {
	background: #025d83;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 4px;
	height: 100%;
	transition: all .5s ease-out;
}

.step-30 .instruction.passed {
	background: transparent;
	padding: 0 20px;
}

.step-30 .instruction.passed::before {
	width: 0px;
}

.step-30 .instruction .section {
	margin-top: 0;
	padding-top: 15px;
}

.step-30 .instruction .section-sub {
	margin-bottom: 0;
}

.step-30 .instruction.passed .section-sub {
	display: none;
}

.step-30 .instruction .section-sub i {
	font-size: 30px;
	vertical-align: middle;
	margin-right: 10px;
}

.init .table-improve-meeting {
	padding-top: 0;
}

.init .table th {
	color: #b1b1b1;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
}

.init .table .table {
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}

.init .fc-event.selected {
	border: 2px dashed #006d36;
}

.init .meeting-cost > .mic {
	color: #2795c3;
	padding-right: 10px;
}

.init .section i.btn {
	color: #2795c3;
	cursor: pointer;
	font-size: 20px;
	vertical-align: middle;
	padding: 0;
	float: right;
}

.init .btn {
	color: #2795c3;
	cursor: pointer;
}

.init .btn:hover {
	color: #0b83b5;
}

.step-30 .bigest-challenge {
	margin-top: 20px;
}

.step-30 .bigest-challenge .section {
	margin-top: 5px;
}

.step-30 .answers {
	list-style: none;
	padding-left: 0;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.step-30 .answer {
	padding: 5px 10px;
	border-bottom: 1px solid #ddd;
	transition: .2s ease-out;
	cursor: pointer;
}

.step-30 .answer:last-child {
	border-bottom: none;
}

.step-30 .answer > i {
	font-size: 28px;
	vertical-align: middle;
}

.step-30 .answer:hover {
	background: #4eacd4;
	color: white;
}

.step-30 .answer.selected {
	background: #2795c3;
	color: white;
}

.step-32 {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	min-width: 50%;
	height: calc(100% - 10px); /* margin-top * 2 */
	margin: 5px 0;
	background: white;
	overflow-y: auto;
	z-index: 6;
	border-radius: 5px;
}

.step-32.in + .calendar-of-shadow {
	top: 0;
	opacity: 1;
}

.step-32-sub {
	display: none;
}

.calendar-of-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.15);
	z-index: 5;
	top: -9999px;
	opacity: 0;
	transition: opacity 0.5s ease-out;
}

.step-32-sub form {
	padding: 10px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
}

.step-32 .table-wrapper {
	display: none;
	margin-left: 30px;
}

.step-32 .btn-wide {
	width: 100%;
	display: block;
	padding: 10px 20px;
	font-size: large;
	border-bottom: 1px solid #ececec;
	transition: all 0.3s ease-out;
}

.step-32 .btn-wide:hover {
	background: #4eacd4;
	color: white;
}

.step-32 .btn-wide.selected {
	background: #2795c3;
	color: white;
}

.step-32 .btn-wide > i:first-child {
	font-size: 28px;
	vertical-align: middle;
	margin-right: 10px;
}

.step-32-sub .time-spent {
	text-align: right;
	border: 1px solid #999;
	border-right: 0;
	width: 50%;
}

.step-32-sub .time-spent.danger {
	background-color: rgba(235, 84, 124, 0.1);
	border: 1px solid rgba(235, 84, 124, 0.2);
}

.step-32-sub .time-spent + .input-group-btn > .btn {
	border-color: #999;
	height: 34px;
	color: #333;
}

.init-attachment-container {
	border: 1px solid #999;
	border-radius: 2px;
	margin-bottom: 20px;
}

.init-attachment-container .input-attachment{
	padding: 5px;
	border: none;
	margin-bottom: 3px;
}

.init .table th > i {
	font-size: 20px;
	line-height: 20px;
}

.init .td-attachment > i {
	font-size: 20px;
	padding: 0 1px;
}

.init-attachment {
	padding: 6px 10px;
}

.init-attachment > i {
	font-size: 18px;
	vertical-align: middle;
}

.init-attachment .delete {
	cursor: pointer;
}

.init input[name="assignee"] + .selectize-control {
	padding: 0;
	border: 0;
	margin-bottom: 15px;
}
.init input[name="assignee"] + .selectize-control > .selectize-input {
	border: 1px solid #999;
	box-shadow: none;
}
.init input[name="assignee"].danger + .selectize-control > .selectize-input {
	background-color: rgba(235, 84, 124, 0.1);
	border: 1px solid rgba(235, 84, 124, 0.2);
}

strong.primary {
	color: #2795c3;
}

.an-main-nav.bottom {
	margin-top: auto;
}

.an-main-nav.bottom {
	margin-top: auto;
}

div.popover .project-header {
	position: relative;
}

div.popover .project-header .db-create-meeting {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
}

.step-30 .table-rate tbody td:first-child {
	font-size: 20px;
}

.step-30 .table-rate tbody td:first-child > i {
	font-size: 27px;
	vertical-align: middle;
}