body {
	background-color: #f9f9f9;
}

label>.required {
	color: red;
}

.an-sidebar-search .an-form-control {
	background: transparent;
}

.an-form-control {
	background: #FFF;
}

.an-input-group-addon {
	z-index: 1;
}

.an-input-group-addon>span {
	font-size: 14px;
	z-index: 1;
}

.an-input-group-right input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

.an-input-group-right input+select {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.selectize-control.an-tags-input {
	margin-bottom: 20px;
}

.an-tags-input .name {
	margin-right: 5px;
}

.selectize-control.an-tags-input {
	height: initial;
}

.an-tags-input .avatar {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 5px;
}

.avatar {
	position: relative;
	height: 50px;
	width: 50px;
	display: inline-block;
	margin: 0 10px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	vertical-align: middle;
}

.big-plus {
	font-size: 30px;
	vertical-align: middle;
}


/* Notifications are shown by $.notify plugin */

#notify {
	display: none;
}

/* Selectize for picking members */
.select-member .selectize-input > input {
	width: 100% !important;
	border-bottom: 2px solid #f2f2f2 !important;
	padding: 5px !important;
	position: relative !important;
	opacity: 1 !important;
	left: 0 !important;
}

.select-member.multi .selectize-input > div {
	display: block !important;
	background: transparent !important;
	margin-bottom: 10px !important; 
}

.select-member.plugin-remove_button [data-value] .remove {
	border-left: none !important;
	font-size: 19px !important;
}

.select-member .selectize-dropdown {
	background-color: #f9f9f9 !important;
}

.select-member .selectize-dropdown .active {
	background-color: #fffae9 !important;
}

.an-tags-input .selectize-input {
	background: transparent !important;
}

.an-tags-input {
	background: white;
}

.select-member-no-border {
	border: none !important;
	margin-bottom: 0 !important;
}

.an-tags-input.danger {
	background-color: #FDEEF2;
	border: 1px solid rgba(235, 84, 124, 0.2);
}

.list-member li {
	margin-bottom: 10px;
}

.list-member li:last-child {
	margin-bottom: 0;
}

.list-member.list-inline .avatar {
	margin: 0;
}

.list-member .avatar {
	width: 25px;
	height: 25px;
}

.form-ajax label {
	line-height: 34px;
}

.form-ajax .an-form-control, .form-ajax .selectize-control{
	line-height: 20px;
}

.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
}

.modal-80 {
	width: 80%;
}

.input-group-btn .an-btn {
	height: 36px;
	margin:-1px;
	border-radius: 2px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.input-group-addon {
	display: table-cell;
	padding: 4px 12px !important;
	white-space: nowrap;
	vertical-align: middle;
}

.input-group.input-group-btn-right {
	border-right: none !important; 
}

.basis-15 {
	width: 15%;
}

@media (max-width: 767px) {
	body {
		padding-right: 0;
		padding-left: 0;
	}
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.an-profile-settings {
	color: white;
}

.an-profile-settings .an-btn-icon:hover,
.an-profile-settings .an-btn-icon:focus,
.an-profile-settings .an-btn-icon:active {
	color: #fff;
}

header.an-header .an-notifications i, header.an-header .an-messages i, header.an-header .an-settings button i, header.an-header .js-toggle-sidebar i {
	color: white;
}

.btn-group.an-notifications-dropown.profile .dropdown-menu .an-info-count {
	padding: 13px;
	background-color: #70c1b3;;
}

.btn-group.an-notifications-dropown.profile .dropdown-menu .an-info-count:before {
	right: 18px;
	border-bottom: 10px solid #70c1b3;;
}

.an-settings .an-settings-list {
	position: relative;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	list-style: none;
}

.an-settings .an-settings-list li a {
	display: block;
	padding: 4px 15px;
}

.an-settings .an-settings-list a i {
	position: relative;
	top: 4px;
	font-size: 25px;
	display: inline-block;
	width: 30px;
	text-align: center;
	margin-right: 10px;
}

.user-avatar {
	border-radius: 50%;
	width: 24px;
	height: 24px;
}

.avatar-list:first-child {
	margin-left: 0;
}

.avatar-list {
	width: 24px;
	height: 24px;
	margin-left: 10px;
	margin-right: 0;
	border-radius: 50%;
}

.user-name {
	vertical-align: middle;
}

/* Readmore plugin */
.readmore {
	display: block;
	vertical-align: bottom;
	color: gray;
	text-transform: uppercase;
	width: 100%;
}

.rm-more {
	position: absolute;
	text-align: center;
	bottom: 0;
	height: 90px;
	line-height: 150px;
	background: linear-gradient(to bottom, rgba(145,145,145,0) 0%,rgba(250,250,250, 1) 70%);
	border-bottom: 1px solid #ececec;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.rm-less {
	text-align: center;
}

/* Fix readmore overflow */
.readmore-container {
	overflow: hidden;
}

/* Fix button dropdown display incorrect position */
.btn-group {
	display: inline-block;
	position: relative;
}

.an-helper-block .btn-group {
	margin-bottom: 10px;
	margin-right: 10px;
}

.topbar-action {
	margin-left: 40px;
}

.topbar-action button {
	font-size: 17px;
}

/* Fix highligh Effect on */
.an-user-lists .list-user-single {
	transition: none;
}

/* Status label color 
	Project: 'open','inactive','archive'
	Action: 'open','inprogress','ready','resolved'
	Meeting: 'open','ready','inprogress','finished','resolved'
	Agenda: 'open','inprogress','resolved','skipped','jumped','parking_lot', 'open_parking_lot', 'closed_parking_lot'
	Homework: 'open', 'done', 'undone'
*/

.label-open, .label-open:hover, .label-open:active, .label-open:focus {
	color: white;
	background: #025d83;
}

.label-ready {
	background: #2388b3;
}

.label-inactive {
	color: white;
	background: #346c84;
}

.label-inprogress {
	background: #eb547c;
}

.label-resolved, .label-finished, .label-closed, 
.label-done, .label-done:hover, .label-done:active, .label-done:focus {
	color: white;
	background: #70c1b3;
}

.label-archive, .label-closed_parking_lot, 
.label-undone, .label-undone:hover, .label-undone:active, .label-undone:focus {
	color: white;
	background: #999;
}

.label-jumped, .label-skipped {
	background: #f3ffbd;
	color: #333;
}

.label-parking_lot, .label-open_parking_lot {
	background: #b2dbbf;
}

/* Cost of time to Badge */
.badge-1 {
	background: #88cac4;
}
.badge-2 {
	background: #b2dbbf;
}
.badge-3 {
	background: #70c1b3;
}
.badge-4 {
	background: #025d83;
}
.badge-5 {
	background: #eb547c;
}
.badge-owner {
	background: #f3ffbd;
	color: #333;
}

/*
	Fix Editable input-X css
*/

.editableform .form-control.input-large {
	width: 600px;
}

/* 
	Vendor-style.css .btn-group is missing?
*/
.btn-group,
.btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
	position: relative;
	float: left;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
	z-index: 2;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
	margin-left: -1px;
}
.btn-toolbar {
	margin-left: -5px;
}
.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
	float: left;
}
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
	margin-left: 5px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 0;
}
.btn-group > .btn:first-child {
	margin-left: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.btn-group > .btn-group {
	float: left;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
	border-radius: 0;
}
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
	outline: 0;
}
.btn-group > .btn + .dropdown-toggle {
	padding-right: 8px;
	padding-left: 8px;
}
.btn-group > .btn-lg + .dropdown-toggle {
	padding-right: 12px;
	padding-left: 12px;
}
.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-group.open .dropdown-toggle.btn-link {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn .caret {
	margin-left: 0;
}
.btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}
.dropup .btn-lg .caret {
  border-width: 0 5px 5px;
}
.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group,
.btn-group-vertical > .btn-group > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
}
.btn-group-vertical > .btn-group > .btn {
  float: none;
}
.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-left: 0;
}
.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.btn-group-justified > .btn,
.btn-group-justified > .btn-group {
  display: table-cell;
  float: none;
  width: 1%;
}
.btn-group-justified > .btn-group .btn {
  width: 100%;
}
.btn-group-justified > .btn-group .dropdown-menu {
  left: auto;
}
[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

/* Fix FullCalendar event too big */
.fc .fc-event, .fc .fc-event-dot {
	padding: 3px 5px;
}

/* Fix tooltip too small */
.tooltip-inner {
	max-width: 400px;
}

/* Blur effect */
.mb-blur {
	transition: filter 0.3s ease-out;
	filter: blur(2px);
}

.mb-grayscale {
	transition: filter 0.3s ease-out;
	filter: grayscale(100%);
}

.mb-blur-grayscale {
	transition: filter 0.3s ease-out;
	filter: blur(2px) grayscale(100%);
}

.main-wrapper {
	transition: filter 0.3s ease-out;
}

body.modal-open .main-wrapper:not(.modal) {
	filter: blur(2px);
}

.modal-backdrop.in {
	opacity: 0.1;
}

/* Fix conflict bootstrap-editable & bootstrap-datetimepicker */
.datepicker > div {
	display: block;
}

.an-user-lists .list-user-single {
	cursor: auto;
}

@media (max-width: 640px) {
	h1 {
		font-size: 26px;
	}

	.an-topbar-left-part {
		background-color: #004e6f;
	}
}

/* Comments */
.chat-container .list-user-single .list-name a span {
	margin-left: 0;
}

.chat-container .list-user-single .list-name a span.an-time {
	margin-left: 5px;
}

.chat-container.chat-page .an-lists-body {
	max-height: none;
}

.chat-container .an-time i {
	margin-right: 0;
}

.chat-container .list-user-single .comment {
	color: #444;
}

/* Alert message customs & colors */
.alert {
	width: auto;
	max-width: 600px;
	border-radius: 4px;
	padding: 15px 45px 15px 15px;
}

.alert .close {
	margin-top: 7.5px;
}

.alert-danger {
	background: #eb547c;
	border: 1px solid #eb547c;
	color: #ffffff;
}

.alert-info {
	background: #025d83;
	border: 1px solid #025d83;
	color: #ffffff;
}

.alert-success {
	color: #ffffff;
	background-color: #5eb9aa;
	border-color: #5eb9aa;
}

.user-info .average-star i {
	font-size: 16px;
}

.user-info .average-star .ion-android-star-outline,
.user-info .average-star .ion-android-star {
	color: orange;
}

.user-info .total-points {
	font-size: 12px;
}

.an-profile-settings .btn-group .an-user-name {
	line-height: 16px;
}