body {
	background-color: #f9f9f9;
}

label>.required {
	color: red;
}

.an-sidebar-search .an-form-control {
	background: transparent;
}

.an-form-control {
	background: #FFF;
}

.an-input-group-addon {
	z-index: 1;
}

.an-input-group-addon>span {
	font-size: 14px;
	z-index: 1;
}

.an-input-group-right input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

.an-input-group-right input+select {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.selectize-control.an-tags-input {
	margin-bottom: 20px;
}

.an-tags-input .name {
	margin-right: 5px;
}

.selectize-control.an-tags-input {
	height: initial;
}

.an-tags-input .avatar {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 5px;
}

.avatar {
	position: relative;
	height: 50px;
	width: 50px;
	display: inline-block;
	margin: 0 10px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	vertical-align: middle;
}

.big-plus {
	font-size: 30px;
	vertical-align: middle;
}


/* Notifications are shown by $.notify plugin */

#notify {
	display: none;
}

/* Selectize for picking members */
.select-member .selectize-input > input {
	width: 100% !important;
	border-bottom: 2px solid #f2f2f2 !important;
	padding: 5px !important;
	position: relative !important;
	opacity: 1 !important;
	left: 0 !important;
}

.select-member.multi .selectize-input > div {
	display: block !important;
	background: transparent !important;
	margin-bottom: 10px !important; 
}

.select-member.plugin-remove_button [data-value] .remove {
	border-left: none !important;
	font-size: 19px !important;
}

.select-member .selectize-dropdown {
	background-color: #f9f9f9 !important;
}

.select-member .selectize-dropdown .active {
	background-color: #fffae9 !important;
}

.an-tags-input .selectize-input {
	background: transparent !important;
}

.an-tags-input {
	background: white;
}

.select-member-no-border {
	border: none !important;
	margin-bottom: 0 !important;
}

.an-tags-input.danger {
	background-color: #FDEEF2;
	border: 1px solid rgba(235, 84, 124, 0.2);
}

.list-member li {
	margin-bottom: 10px;
}

.list-member li:last-child {
	margin-bottom: 0;
}

.list-member .avatar {
	width: 25px;
	height: 25px;
}

.form-ajax {
	line-height: 34px;
}

.form-ajax .an-form-control, .form-ajax .selectize-control{
	line-height: 15px;
}

.an-user-lists .an-lists-body {
	max-height: none !important; 
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.modal-80 {
	width: 80%;
}

.input-group-btn .an-btn {
	height: 36px;
	margin:-1px;
	border-radius: 2px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.input-group-addon {
	display: table-cell;
	padding: 4px 12px !important;
	white-space: nowrap;
    vertical-align: middle;
}

.input-group.input-group-btn-right {
	border-right: none !important; 
}

@media (max-width: 767px) {
    body {
        padding-right: 0;
        padding-left: 0;
    }
}

.an-profile-settings {
	color: white;
}

.an-profile-settings .an-btn-icon:hover,
.an-profile-settings .an-btn-icon:focus,
.an-profile-settings .an-btn-icon:active {
    color: #fff;
}

header.an-header .an-notifications i, header.an-header .an-messages i, header.an-header .an-settings button i, header.an-header .js-toggle-sidebar i {
	color: white;
}

.btn-group.an-notifications-dropown.profile .dropdown-menu .an-info-count {
    padding: 13px;
    background-color: #70c1b3;;
}

.btn-group.an-notifications-dropown.profile .dropdown-menu .an-info-count:before {
    right: 18px;
    border-bottom: 10px solid #70c1b3;;
}

.an-settings .an-settings-list {
	position: relative;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    list-style: none;
}

.an-settings .an-settings-list li a {
    display: block;
    padding: 4px 15px;
}

.an-settings .an-settings-list a i {
	position: relative;
	top: 4px;
	font-size: 25px;
	display: inline-block;
	width: 30px;
	text-align: center;
	margin-right: 10px;
}
